# This is an implicit value, here for clarity
--index-url https://pypi.python.org/simple/

# git repo:  will do this on cmd line
# -e git+https://git.biodesign.asu.edu/primusdj/asuToBiodesign.git@dc530355e3e3036243dc6116598580be4a1b3fcc#egg=asuToBiodesign

alembic==0.8.6
cx-Oracle==5.2.1
Mako==1.0.4
MarkupSafe==0.23
MySQL-python==1.2.5
python-editor==1.0
SQLAlchemy==1.0.12
