alembic==0.8.6
apt-xapian-index==0.45
-e git+https://git.biodesign.asu.edu/primusdj/asuToBiodesign.git@0b540a489c263c7ce4c65cd60fd4300c6d8b7627#egg=asuToBiodesign
chardet==2.0.1
colorama==0.2.5
configobj==4.7.2
configparser==3.3.0.post2
cx-Oracle==5.2
ecdsa==0.13
funcsigs==1.0.0
html5lib==0.999
Landscape-Client==14.12
Mako==1.0.4
MarkupSafe==0.23
mock==2.0.0
MySQL-python==1.2.5
ordereddict==1.1
PAM==0.4.2
paramiko==1.15.2
pbr==1.9.0
pycrypto==2.6.1
pymssql==2.1.1
pyOpenSSL==0.13
pyserial==2.6
python-apt===0.9.3.5ubuntu2
python-debian===0.1.21-nmu2ubuntu2
python-editor==1.0
requests==2.2.1
six==1.10.0
SQLAlchemy==1.0.12
ssh-import-id==3.21
Twisted-Core==13.2.0
urllib3==1.7.1
virtualenv==15.0.1
zope.interface==4.0.5
